*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 59px;
}


.fondo1{
    position: relative;
    width: 750px;
    height: 500px;
    background-image: url(./img/sddefault.jpg);
    background-size: cover;
    border: 2px solid black;
    min-width: 750px;
    

}

.diamante1{
    background-image:  url(./img/diamante.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:10%;
    left: 10%;

}
.diamante1 img{
    width: 50px;
    height: 50px;

}
.diamante2{
    background-image:  url(./img/diamante.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:40%;
    left: 20%;

}
.diamante3{
    background-image:  url(./img/diamante.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:60%;
    left: 90%;

}
.diamante4{
    background-image:  url(./img/diamante.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:14%;
    left: 40%;

}
.diamante5{
    background-image:  url(./img/diamante.png);
    background-size: contain;
    width: 50px;
    height: 50px;
   
   

}
.diamante6{
    background-image:  url(./img/diamante.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:65%;
    left: 50%;

}
.bloque1{
    width: 70px;
    height: 70px;
    background-image: url(img/bloque.png);
    position: absolute;
    top: 60%;
    left: 60%;
    background-repeat: no-repeat;
}
.bloque2{
    width: 150px;
    height: 150px;
    background-image: url(img/bloque.png);
    position: absolute;
    top: 46%;
    left: 65%;
    background-repeat: no-repeat;
}
.puntaje{
    width: 130px;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    align-items: center;

}
/* ANIMACION DIAMANTE */

.saltar{
    animation: saltar 0.6s ease forwards;
}

@keyframes saltar{
    0%{
        transform: translatey(0);opacity: 1;
    }
    30%{
        transform: translatey(-60px);
    }
    100%{
    transform: translatey(0);opacity: 0;
    }
}

/* ANIMACION BLOQUE */
.bloque2{
    animation: moverBloque2 4s ease infinite alternate;
}

@keyframes moverBloque2{
    0%{
        left: 46%;
    }
    100%{
        left: 3%;
    }
}
 .bloque1{
    animation: moverBloque1 5s ease infinite alternate;
}

@keyframes moverBloque1{
    0%{
        left: 60%;
    }
    100%{
        left: 2%;
    }
} 

/* juego2*/

.juego2{
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    position: relative;
   
}


.fondo2{
    position: relative;
    width: 750px;
    height: 500px;
    background-image: url(./img/desktop-wallpaper-mario-backgrounds-mario-background-thumbnail.jpg);
    background-size: cover;
    border: 2px solid black;
    min-width: 750px;
}

.moneda1{
    background-image:  url(./img/moneda2.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:40%;
    left: 60%;
    background-repeat: no-repeat;

}
.diamante1 img{
    width: 50px;
    height: 50px;

}
.moneda2{
    background-image:  url(./img/moneda2.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:48%;
    left: 0%;
    background-repeat: no-repeat;

}
.moneda3{
    background-image:  url(./img/moneda2.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:47%;
    left: 90%;
    background-repeat: no-repeat;

}
.moneda4{
    background-image:  url(./img/moneda2.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:50%;
    left: 40%;
    background-repeat: no-repeat;

}
.moneda5{
    background-image:  url(./img/moneda2.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
   
   

}
.moneda6{
    background-image:  url(./img/moneda2.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:81%;
    left: 50%;
    background-repeat: no-repeat;

}
.mario{
    width:20%;
    height: 20%; 
    position: absolute;
    top: 80%;
    left: 80%;
    background-repeat: no-repeat;
}
.nube2{
    width: 20%;
    height: 50%;
    background-image: url(img/nube1.png);
    position: absolute;
    top: 15%;
    left: 30%;
    background-repeat: no-repeat;
    background-size: contain;
}
.puntaje2{
    width: 130px;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    align-items: center;

}
/* ANIMACION MONEDA */

.crecer{
    animation: crecer 0.6s ease forwards;
}

@keyframes crecer{
    0%{
            transform: scale(1.5) ;
        opacity: 1;
    }
    30%{
     transform: scale(3) ; 
    }
    100%{
    transform: scale(0) ;
    opacity: 0;
    }
}

/* ANIMACION NUBE */
.nube2{
    animation: nube2 4s ease infinite alternate;
}

@keyframes nube2{
    0%{
        left: 46%;
    }
    100%{
        left: 3%;
    }
}

 .mario{
    animation: movermario 5s ease infinite alternate;
}

@keyframes movermario{
    0%{
        left: 60%;
    }
    100%{
        left: 2%;
    }
} 

/*juego3*/
.juego3{
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    position: relative;
    min-width: 100%;
}


.fondo3{
    position: relative;
    width: 750px;
    height: 500px;
    background-image: url(img/pacman.jpg);
    background-size: cover;
    border: 2px solid black;
    
}

.fantasma1{
    background-image:  url(./img/fantasma1.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:40%;
    left: 60%;
    background-repeat: no-repeat;

}



.fantasma2{
    background-image:  url(./img/fantasma2.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:41%;
    left: 0%;
    background-repeat: no-repeat;

}
.fantasma3{
    background-image:  url(./img/fantasma1.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:41%;
    left: 90%;
    background-repeat: no-repeat;

}
.fantasma4{
    background-image:  url(./img/fantasma3.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:41%;
    left: 40%;
    background-repeat: no-repeat;

}
.fantasma5{
    background-image:  url(./img/fantasma1.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
   
   

}
.fantasma6{
    background-image:  url(./img/fantasma3.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top:41%;
    left: 53%;
    background-repeat: no-repeat;

}
.pacman{
    width: 10%;
    height: 10%; 
    position: absolute;
    top: 89%;
    left: 0%;
    background-repeat: no-repeat;
}
.fantasma1{
    width: 10%;
    height: 10%;
    background-image: url(img/fantasma2.png);
    position: absolute;
    top: 89%;
    left: 40%;
    background-repeat: no-repeat;
    background-size: contain;
}
.puntaje{
    width: 130px;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    align-items: center;

}
/* ANIMACION FANTASMA */

.disminuir{
    animation: disminuir 0.6s ease forwards;
}

@keyframes disminuir{
     0%{
            transform: scale(1) ;
        opacity: 1;
    }
    30%{
     transform: scale(3) ; 
    }
    100%{
    transform: scale(0) ;
    opacity: 1;
    }
}

/* ANIMACION PACMAN */





.pacman{
    animation: moverpacman 4s ease infinite alternate;
}

@keyframes moverpacman{
    0%{
        left: 0%;
    }
    100%{
        left: 80%;
    }
}
 .fantasma1{
    animation: moverfantasma 4s ease infinite alternate;
}

@keyframes moverfantasma{
    0%{
        left: 50%;
    }
    100%{
        left: 90%;
    }
} 



.carrusel{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.cuadro{
    width: 750px;
    height: 116px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-position: cover cover;
}

.flecha1{
  
    margin-right: 60px;  
    cursor: pointer;

}
.flecha2{
margin-left: 40px;
cursor: pointer;
}
.escena{
    display: none;
}
.activa{
    display: block;
}

.circulo{
    
    width: 400px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}


.circulo1{
    background-image: url(img/sddefault.jpg);
}

.circulo2{
    background-image: url(img/desktop-wallpaper-mario-backgrounds-mario-background-thumbnail.jpg);
    
}
.circulo3{
    background-image: url(img/pacman.jpg);
    
  
}

.miniaturas{
    width: 750px;
    height: 116px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-position: cover cover;
}